:root {
  --dark-green: #386641;
  --medium-green: #6a994e;
  --light-green: #a7c957;
  --cream: #f2e8cf;
  --red: #bc4749;
  --grey: #515052;

}

body {
  background-color: #f5f5f5;
}

/* navbar styling */
header {
  display: flex;
  justify-content: space-between;
  background-color: #6a994e;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav li a:hover {
  background-color: #386641;
  border-radius: 5px;
}
/* footer styling */
footer {
  display: flex;
  justify-content: center;
  background-color: #386641;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #6a994e
}
/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  white-space: pre;
} */

/* home image styling */
.home-image {
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 95%;
}

/* featured styling */
.featured {
  display: flex;
  flex-direction: column;
}

.featured h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  color: #000;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image img {
  width: 95%;
}

.card p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Search Styling */
#search {
  padding: 10px;
  margin: 10px;
  border: 5px solid #ccc;
  border-radius: 5px;
}
