nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  white-space: pre;
}

.slider {
  display: flex;
  scroll-snap-type: x mandatory;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
}

.slider li {
  scroll-snap-align: start;
}